<DIV class="TableListHeaderContainer">
    <DIV class="TableOptions">
        <SELECT id="SelectedAmount" style="display: none;" onchange="BuildTable()">
            <OPTION value="100" selected>100</OPTION>
            <OPTION value="300">300</OPTION>
            <OPTION value="500">500</OPTION>
            <OPTION value="1000">1000</OPTION>
            <OPTION id="AllRecords" value="">МАХ</OPTION>
        </SELECT>
        <DIV id="InfoBlock"></DIV>
        <DIV id="RecordsCount"></DIV>
        <DIV id="FilterReset" class="FilterIcon" style="margin: 3px 6px 3px calc(100% - 280px);" title="Сбросить все фильтры" onmousedown="this.className = 'FilterIconPress'" onmouseup="this.className = 'FilterIcon'" onclick="ResetAllFilters(); FiltersConsolidation();"></DIV>
    </DIV>
    <DIV class="TableListHeader">
        <DIV style="width: calc(5% - 9px);">
            <DIV id="LinkSearchID" style="display: block;">
                <DIV style="float: left; width: 16px;">
                    <DIV data-sort="EmployeeID" class="SortUpMarkerSelected" onclick="SetSort(this);" title="Сортировка по возрастанию"></DIV>
                    <DIV data-sort="EmployeeID DESC" class="SortDownMarker" onclick="SetSort(this);" title="Сортировка по убыванию"></DIV>
                </DIV>
                <A class="Filter" href="javascript:void(0)" title="Поиск" onclick="ShowHide('LinkSearchID'); ShowHide('InputSearchID'); $('#InputSearchID input').focus();">ID</A>
            </DIV>
            <DIV id="InputSearchID" style="display: none;">
                <INPUT class="FilterInput" data-filter="ID" type="text" onkeypress="EnterDetect(event, this); return ValidateNumberInput(event);" onblur="ShowHide('InputSearchID'); ShowHide('LinkSearchID'); SelectFilter(this); FiltersConsolidation();" placeholder="ID...">
            </DIV>
        </DIV>
        <DIV style="width: calc(25% - 9px);">
            <DIV id="LinkSearchName" style="display: block;">
                <DIV style="float: left; width: 16px;">
                    <DIV data-sort="FullName" class="SortUpMarker" onclick="SetSort(this);" title="Сортировка по возрастанию"></DIV>
                    <DIV data-sort="FullName DESC" class="SortDownMarker" onclick="SetSort(this);" title="Сортировка по убыванию"></DIV>
                </DIV>
                <A class="Filter" href="javascript:void(0)" title="Поиск" onclick="ShowHide('LinkSearchName'); ShowHide('InputSearchName'); $('#InputSearchName input').focus();">ФИО</A>
            </DIV>
            <DIV id="InputSearchName" style="display: none;">
                <INPUT class="FilterInput" data-filter="FullName" type="text" onkeypress="EnterDetect(event, this);" onblur="ShowHide('InputSearchName'); ShowHide('LinkSearchName'); SelectFilter(this); FiltersConsolidation();" placeholder="ФИО...">
            </DIV>
        </DIV>
        <DIV style="width: calc(25% - 9px);">
            <DIV id="LinkSearchPosition" style="display: block;">
                <DIV style="float: left; width: 16px;">
                    <DIV data-sort="Position" class="SortUpMarker" onclick="SetSort(this);" title="Сортировка по возрастанию"></DIV>
                    <DIV data-sort="Position DESC" class="SortDownMarker" onclick="SetSort(this);" title="Сортировка по убыванию"></DIV>
                </DIV>
                <A class="Filter" href="javascript:void(0)" title="Поиск" onclick="ShowHide('LinkSearchPosition'); ShowHide('InputSearchPosition'); $('#InputSearchPosition input').focus();">Должность</A>
            </DIV>
            <DIV id="InputSearchPosition" style="display: none;">
                <INPUT class="FilterInput" data-filter="Position" type="text" onkeypress="EnterDetect(event, this);" onblur="ShowHide('InputSearchPosition'); ShowHide('LinkSearchPosition'); SelectFilter(this); FiltersConsolidation();" placeholder="Должность...">
            </DIV>
        </DIV>
        <DIV style="width: calc(10% - 9px); ">
            <DIV id="LinkSearchHiringDate" style="display: block;">
                <DIV style="float: left; width: 16px;">
                    <DIV data-sort="HiringDate" class="SortUpMarker" onclick="SetSort(this);" title="Сортировка по возрастанию"></DIV>
                    <DIV data-sort="HiringDate DESC" class="SortDownMarker" onclick="SetSort(this);" title="Сортировка по убыванию"></DIV>
                </DIV>
                <A class="Filter" href="javascript:void(0)" title="Поиск" onclick="ShowHide('LinkSearchHiringDate'); ShowHide('InputSearchHiringDate'); $('#InputSearchHiringDate input').focus();">Принят</A>  
            </DIV>
            <DIV id="InputSearchHiringDate" style="display: none;">
                <INPUT class="FilterInput" data-filter="HiringDate" type="text" onkeypress="EnterDetect(event, this); return ValidateNumberInput(event);" oninput="DateInputFilter(this);" onblur="ShowHide('InputSearchHiringDate'); ShowHide('LinkSearchHiringDate'); SelectFilter(this); FiltersConsolidation();" placeholder="Дата приёма...">
            </DIV>
        </DIV>
        <DIV style="width: calc(10% - 9px);">
            <DIV id="LinkSearchSalary" style="display: block;">
                <DIV style="float: left; width: 16px;">
                    <DIV data-sort="Salary" class="SortUpMarker" onclick="SetSort(this);" title="Сортировка по возрастанию"></DIV>
                    <DIV data-sort="Salary DESC" class="SortDownMarker" onclick="SetSort(this);" title="Сортировка по убыванию"></DIV>
                </DIV>
                <A class="Filter" href="javascript:void(0)" title="Поиск" onclick="ShowHide('LinkSearchSalary'); ShowHide('InputSearchSalary'); $('#InputSearchSalary input').focus();">Оклад</A>
            </DIV>
            <DIV id="InputSearchSalary" style="display: none;">
                <INPUT class="FilterInput" data-filter="Salary" type="text" onkeypress="EnterDetect(event, this); return ValidateNumberInput(event);" onblur="ShowHide('InputSearchSalary'); ShowHide('LinkSearchSalary'); SelectFilter(this); FiltersConsolidation();" placeholder="Оклад от...">
            </DIV>
        </DIV>
        <DIV style="width: calc(25% - 18px);">
            <DIV id="LinkSearchChief" style="display: block;">
                <DIV style="float: left; width: 16px;">
                    <DIV data-sort="ChiefID" class="SortUpMarker" onclick="SetSort(this);" title="Сортировка по возрастанию"></DIV>
                    <DIV data-sort="ChiefID DESC" class="SortDownMarker" onclick="SetSort(this);" title="Сортировка по убыванию"></DIV>
                </DIV>
                <A class="Filter" href="javascript:void(0)" title="Поиск" onclick="ShowHide('LinkSearchChief'); ShowHide('InputSearchChief'); $('#InputSearchChief input').focus();">Руководитель</A>
            </DIV>
            <DIV id="InputSearchChief" style="display: none;">
                <INPUT class="FilterInput" data-filter="Chief" type="text" onkeypress="EnterDetect(event, this);" onblur="ShowHide('InputSearchChief'); ShowHide('LinkSearchChief'); SelectFilter(this); FiltersConsolidation();" placeholder="ФИО руководителя...">
            </DIV>
        </DIV>
    </DIV>
</DIV>
<DIV id="EmployeesGrid"></DIV>
<SCRIPT>GetRecordsCount();</SCRIPT>
<SCRIPT>BuildTable();</SCRIPT>