body{
    margin: 0;
    background-color: azure;
    font-family: Calibri;
}
input{
    outline: none; 
}
a{
    outline: none; 
}

.Page{
    width: 100%;
    height: 100%;   
}
#Header{
    position: relative;
    background-color: silver;
    background: linear-gradient(to top, silver, gray);
    width: 100%;
    min-width: 800px;
    height: 48px;
    box-shadow: 0 5px 10px azure;
    z-index: 997;
}
#MenuBar{
    display: block;
    margin: 0 calc(50% - 225px);
    padding: 0;
    height: inherit;
}
#MenuBar li{
    float: left;
    height: inherit;
}
#MenuBar li input[type="button"]{
    display: block;
    height: inherit;
    width: 150px;
    color: azure;
    white-space: normal;
    font-size: 18px;
    font-weight: bold;
    font-family: Calibri;
    line-height: 1;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-shadow: black 0 0 1px;
}
#MenuBar li input[type="button"]:hover{
    background-color: silver;
    background: linear-gradient(to top, azure, silver, darkgray);
}
.Selected{
    background-color: silver;
    background: linear-gradient(to top, azure, silver, darkgray);
}

#Content{
    position: fixed;
    width: 100%;
    min-width: 800px;
    top: 48px;
    bottom: 48px;
    height: calc(100% - 72px);
    min-height: 200px;
}

ul{
    list-style: outside none none;
    margin: 0;
}
#StructureView{
    display: block;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    padding: 20px;
    margin: 20px;
    overflow-x: auto;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px 0 0 0;
    background-color: white;
    z-index: 998;
}
.StructureElement{
    display: block;
    width: 440px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 10px;
}
.NameContainer{
    font-size: medium;
    color: black;
    margin-left: 10px;
}
.PositionContainer{
    font-size: small;
    font-style: italic;
    color: gray;
    margin-left: 10px;
}
.StructureElement:hover{
    cursor: pointer;
    background: linear-gradient(to top, silver, transparent, silver);
}
.TriangleRight{
  width: 0 !important;
  height: 0 !important;
  border-left: 10px solid green !important;
  border-top: 10px solid transparent !important;
  border-bottom: 10px solid transparent !important;
  margin-left: 10px !important;
}
.TriangleDown{
  width: 0 !important;
  height: 0 !important;
  border-top: 10px solid lime !important;
  border-right: 10px solid transparent !important;
  border-left: 10px solid transparent !important;
  margin: 5px -5px 5px 5px !important;
}
#Footer{
    position: fixed;
    bottom: 0px;
    background-color: silver;
    background: linear-gradient(to top, gray, silver);
    width: 100%;
    min-width: 800px;
    height: 24px; 
    z-index: 997;
}
.BreakFloat{
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
    clear: both !important;
}
.Input{
    display: block;
    height: 24px;
    padding: 2px 5px;
    margin: 0;
    border: 1px solid silver;
    border-radius: 10px;
    background: white;
    font-family: Calibri;
}
.Button{
    display: block;
    height: 32px;
    padding: 5px;
    margin: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    background: linear-gradient(to top, gray, azure, gray);
    color: gray;
    text-shadow: azure 0 0 1px;
    font-weight: bold;
}
.Button:hover{
    background: linear-gradient(to top, azure, transparent, azure);
    cursor: pointer;
}