.Overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -20px;
    padding: 40px;
    background: rgba(100, 100, 100, 0.4);
    z-index: 999;
}
.MainFrame{
    margin: 0 auto 20px auto;
    background: linear-gradient(to top, gray, silver, azure, silver);
    padding: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
}
#Loader{
    position: fixed;
    z-index: 999;
    margin: 108px calc(50% - 24px);
}