.TableListHeaderContainer{
    width: calc(100% - 20px);
    position: absolute;
    background-color: azure;
    margin: 0 10px;
    height: 74px;
}
.TableListHeader{
    margin: 0;
    width: calc(100% - 17px);
    padding: 4px 17px 4px 0px !important;
    background-color: gray;
}
.TableListHeader div{
    display: block;
    height: 20px;
    float: left;
    border-right: 1px solid silver;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px !important;
}
.TableListHeader :last-child{
    border-right: none;
    float: none;
}
.TableListHeader div div{
    text-decoration: none;
    color: azure;
    text-shadow: black 0 0 2px;
    width: 100%;
    border: none;
    padding: 0 !important;
    width: 100%;
}
.Filter{
    float: left !important;
    text-decoration: none;
    text-align: center; 
    width: calc(100% - 40px);
    height: inherit;
    color: azure;
    text-shadow: black 0 0 2px;
    margin: 0 16px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left;
}
.FilterSelected{
    float: left !important;
    text-decoration: none;
    text-align: center; 
    width: calc(100% - 40px);
    height: inherit;
    color: lightgreen;
    text-shadow: black 0 0 2px;
    margin: 0 16px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left;
}
.Filter:hover, .FilterSelected:hover{
    color: lime;
}
.FilterInput{
    width: calc(100% - 10px);
    border: 1px solid azure;
    border-radius: 4px;
    padding: 0 4px 0 4px;
}

.TableList{
    width: calc(100% + 2px);
    padding: 4px 0px 4px 0;
    margin: 0 -1px;
}
.TableList div{
    display: block;
    height: 20px;
    float: left;
    border-right: 1px solid silver;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}
.TableList :last-child{
    text-align: left;
    border-right: none;
    float: none;
}
.TableList div a{
    text-decoration: none;
    display: block;
    color: black;
}
.TableList div a:hover{
    text-decoration: underline;
}
#EmployeesGrid{
    margin: 74px 10px 10px 10px;
    border: 1px solid gray;
    width: calc(100% - 22px);
    height: calc(100% - 86px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.SortUpMarker{
    width: 0 !important;
    height: 0 !important;
    border-bottom: 8px solid azure !important;
    border-right: 8px solid transparent !important;
    border-left: 8px solid transparent !important;
    cursor: pointer;
    margin-bottom: 4px !important;
}
.SortUpMarkerSelected{
    width: 0 !important;
    height: 0 !important;
    border-bottom: 8px solid lightgreen !important;
    border-right: 8px solid transparent !important;
    border-left: 8px solid transparent !important;
    margin-bottom: 4px !important;
    cursor: pointer;
}
.SortDownMarker{
    width: 0 !important;
    height: 0 !important;
    border-top: 8px solid azure !important;
    border-right: 8px solid transparent !important;
    border-left: 8px solid transparent !important;
    cursor: pointer;
    margin-top: 4px !important;
}
.SortDownMarkerSelected{
    width: 0 !important;
    height: 0 !important;
    border-top: 8px solid lightgreen !important;
    border-right: 8px solid transparent !important;
    border-left: 8px solid transparent !important;
    float: left;
    cursor: pointer;
    margin-top: 4px !important;
}
.SortUpMarker:hover, .SortUpMarkerSelected:hover{
    border-bottom: 8px solid lime !important;
}
.SortDownMarker:hover, .SortDownMarkerSelected:hover{
    border-top: 8px solid lime !important;
}
.TableOptions{
    width: calc(100% - 8px);
    margin-top: 10px;
    height: 21px;
    padding: 4px;
    border-bottom: 1px solid silver;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to top, gray, silver);
}

#SelectedAmount{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    border-radius: 8px;
    border: none;
    padding: 0 5px 0 0;
    background: azure;
    height: 21px;
    width: 40px;
    display: block;
    cursor: pointer;
    float: left;
}
#SelectedAmount option{
    padding: 0;
}
.FilterIcon{
    display: block;
    float: left;
    width: 0 !important;
    height: 0 !important;
    border: 9px solid azure;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 3px;
    box-shadow: inset 0 6px azure;
    cursor: pointer;
}
.FilterIconActive{
    display: block;
    float: left;
    width: 0 !important;
    height: 0 !important;
    border: 9px solid lightgreen;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 3px;
    box-shadow: inset 0 6px lightgreen;
    cursor: pointer;
}
.FilterIconPress{
    display: block;
    float: left;
    width: 0 !important;
    height: 0 !important;
    border: 9px solid lime;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 3px;
    box-shadow: inset 0 6px lime;
    cursor: pointer;
}
/*.FilterIcon:hover, FilterIconActive:hover{
    border: 9px solid lime;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: inset 0 6px lime;
}*/
#InfoBlock{
    float: left;
    width: 150px;
    text-align: center;
    color: azure;
    text-shadow: black 0 0 2px;
}
#RecordsCount{
    font-weight: bold;
    width: 60px;
    float: left;
    text-shadow: black 0 0 2px;
    color: azure;
}